@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: monospace;
  box-sizing: border-box;
}

html {
  background: url(/Images/sheetmusic.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 15px;
}

body {
  margin: 0px;
}

header {
  position: fixed;
  top: 0px;
  color: black;
  background-color: coral;
  width: 100%;
  text-align: center;
}

.navlinks {
  a:hover {
    color: deeppink;
  }
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 15px;
  margin: 10px;
}

section {
  border: 5px;
  border-radius: 20px;
  background-color: cornsilk;
  color: black;
  border: 2px;
  padding: 30px;
  margin: 100px;
}

.button {
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: coral;
  text-align: center;
  padding: 12px;
}
