@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  font-family: monospace;
  box-sizing: border-box;
}

html {
  background: url(/Images/sheetmusic.png) no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 15px;
}

header {
  position: fixed;
  top: 0px;
  color: black;
  background-color: coral;
  width: 100%;
  text-align: center;
}

#headimg {
  position: absolute;
  left: 0px;
  max-width: 100px;
  height: auto;
  margin: 5px;
}

.navlinks {
  a:hover {
    color: deeppink;
  }
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 15px;
  margin: 10px;
}

section {
  border: 5px;
  border-radius: 20px;
  background-color: cornsilk;
  color: black;
  border: 2px;
  padding: 30px;
  margin: 100px;
}

.sformat {
  background-color: coral;
  border-radius: 20px;
  padding: 10px;
  max-width: 40%;
}

.button {
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: coral;
  text-align: center;
  padding: 12px;
}

.sociallinks {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  gap: 8px;
}

#music {
  position: fixed;
  bottom: 0px;
  left: 3px;
}

.top {
  position: sticky;
  bottom: 70px;
  margin-top: 100vh;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 100px;
}
